# Ignore arquivos temporários e específicos de sistema
*.log
*.tmp
*.swp
*.swo
*.bak

# Bundler
/.bundle
/vendor/bundle

# SQLite DB
*.sqlite3
*.sqlite3-journal

# Docker
/.env
*.pid

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
node_modules/
