<!DOCTYPE html>
<html>
  <head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Cadastro de Usuário</h1>
      <form action="/users" method="POST">
        <input type="text" name="name" placeholder="Nome" required>
        <select name="gender" required>
          <option value="">Selecione o sexo</option>
          <option value="Masculino">Masculino</option>
          <option value="Feminino">Feminino</option>
        </select>
        <input type="email" name="email" placeholder="E-mail" required>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </body>
</html>
